[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
seaborn = "*"
pandas = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
openpyxl = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.10"
